@use "../../_assets.scss" as use;

.navbar {
	@include use.flex(center, center);
	flex-direction: row;
	.my-cart {
		font-size: 1.8rem;
		padding: 0 2rem;
		.cart-icon {
			position: relative;
			.cart-quantity {
				position: absolute;
				top: -1rem;
				font-size: 1.2rem;
			}
		}
	}
	.menu {
		display: none;
		font-size: 2rem;
		cursor: pointer;
	}
	.nav-list {
		@include use.flex(center, center);
		li {
			font-size: 1.5rem;
			padding: 0 1rem;
			.cart-quantity {
				padding: .8rem;
			}
			a.active {
				padding-bottom: .5rem;
				border-bottom: solid .6rem var(--primary-color);
			}
			.logout-btn {
				@include use.outline-btn(var(--secondary-bg), var(--secondary-color), var(--primary-color), transparent, var(--primary-color));
			}
		}
	}
}

@media (max-width: 769px) {
	.navbar {
		flex-direction: row-reverse;
		.menu {
			display: block;
		}	
		.nav-list{
			@include use.flex(flex-start, flex-start);
			flex-direction: column;
		  background-color: var(--secondary-bg);
		  padding: 1.5rem;
		  width: 80%;
		  max-width: 20rem;
		  height: 100vh;
		  transition: ease 1s;
		  opacity: .3;
		  position: absolute;
		  top: 100%;
		  left: -150%;
		  z-index: 999;
		  li {
		  	padding: 1.5rem 0;
		  	* {
		  		color: var(--secondary-color);
		  	}
	  		a.active {
	  			border-color: var(--secondary-color);
	  		}
	  		.logout-btn {
					@include use.outline-btn(transparent, var(--secondary-color), var(--secondary-color), null, var(--secondary-color));
				}
		  }
		}
		.nav-list.active{
		  transition: ease .5s;
		  opacity: .8;
		  left: 0;
		}
	}
}